<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>CFBundleName</key>
	<string>どこでもビューティーミラー</string>
	<key>NSCameraUsageDescription</key>
	<string>このアプリは鏡機能のためにカメラを使用します</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>このアプリでは広告の最適化のためにデータを利用します</string>
</dict>
</plist>
